<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse navbar-default" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <a class="navbar-brand" href="#">Treebook</a>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to current_user.full_name, edit_user_registration_path %>  </li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
            </ul>
        </div>
      </div>
    </nav>
 	
<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

	<%= yield %>
</div>
</body>
</html>
